<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="cabecalho">
        <h2 class="cabecalho__titulo">Protótipo projeto integrador</h2>
    </header>
    <main class="apresentacao">
        <div class="apresentacao__container">
            <h1 class="apresentacao__container__titulo">Login</h1>
            <p class="apresentacao__container__texto">Não possui cadastro? Cadastre-se <a class="apresentacao__container__link" href="index.html">Aqui</a></p>
            <form class="form__login" action="#" method="post">
                <div class="form__apresentacao">
                    <label class="apresentacao__container__login" for="email">E-mail:</label>
                    <input class="apresentacao__container__imput" type="email" id="email" name="email" required>

                    <label class="apresentacao__container__login" for="password">Senha:</label>
                    <input class="apresentacao__container__imput" type="password" id="password" name="password" required>

                    <button class="apresentacao__container__botao" type="submit">Login</button>
                </div>
            </form>
        </div>
    </main>
</body>